@media screen and (max-width: 1024px) and (orientation: portrait) {
    .logo-nav--section {
        position: relative;

        .hamburger-menu-wrapper {
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            margin-top: auto;
            margin-bottom: auto;
            right: 10px;
            width: 30px;
            height: 20px;
            cursor: pointer;
        }

        .hamburger-inActive {
            border-top: 2px solid #08A6E4;
            border-bottom: 2px solid #08A6E4;


            .hamburger-line {
                position: absolute;
                top: 50%; 
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                border-top: 1px solid #08A6E4;
                border-bottom: 1px solid #08A6E4;
            }
        }

        .hamburger-active {
            border-top: none;
            border-bottom: none;

            .hamburger-line {
                position: absolute;
                top: 50%; 
                transform: rotate(-45deg);
                width: 100%;
                border-top: 1px solid #08A6E4;
                border-bottom: 1px solid #08A6E4;
            }

            .hamburger-second-line {
                position: absolute;
                top: 50%; 
                transform: rotate(45deg);
                width: 100%;
                border-top: 1px solid #08A6E4;
                border-bottom: 1px solid #08A6E4;
            }
        }

        .nav--box.menu-visible {
            display: flex;
            transform: translateX(0px);

        }

        .nav--box {
            transform: translateX(-1000px);
            transition: transform .2s ease-in;
            display: flex;
            position: absolute;
            bottom: -19px;
            height: 20px;
            width: 100%;
            background: white;
            box-shadow: 0px 5px 6px #00000029;
            padding: 5px;
        }
    }
    .main--section {
        height: 60vh;

        .main-info--box {
            padding-top: 60px;
        }
    }
}

@media screen and (max-width: 550px) {
    .logo-nav--section {
        .logo--box {
            .logo {
                font-size: 28px;
                padding: 10px 10px 10px 0;
            }
        }
    }


    .main--section {
        height: 100vh;
        background-size: 190%;

        .main-info--box {
            button {
                padding: 20px 50px 20px 50px;
            }
        }
    }


}
@media screen and (max-width: 1195px) and (orientation: landscape) {
    .main--section {
        height: 100vh;

        .main-info--box {
            padding-top:10px;
        }
    }
}

@media screen and (max-width: 860px) and (orientation: landscape) {
    .logo-nav--section {
        .nav--box {
            display: none;
        }
        .logo--box {
            .logo {
                font-size: 28px;
                padding: 10px 10px 10px 0;
            }
        }
    }
    .main--section {
        height: 100vh;
        padding-top: 20px;

        .main-info--box {
            padding-top: 60px;
            justify-content: flex-start;

            h1 {
                font-size: 36px;
                margin-bottom: 15px;
            }

            h3 {
                font-size: 16px;
                margin-bottom: 15px;
            }

            button {
                font-size: 14px;
                padding: 10px 30px 10px 30px;
            }
        }
    }
}